[submodule "bundle/command-t"]
	path = bundle/command-t
	url = git://git.wincent.com/command-t.git
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = git://github.com/scrooloose/nerdtree.git
[submodule "bundle/fsharp"]
	path = bundle/fsharp
	url = git://github.com/kongo2002/fsharp-vim.git
[submodule "bundle/vimclojure"]
	path = bundle/vimclojure
	url = git://github.com/vim-scripts/VimClojure.git
[submodule "bundle/vimscala"]
	path = bundle/vimscala
	url = git://github.com/derekwyatt/vim-scala.git
